html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #141415;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: 100svh;
}

/* REUSED/CLASS STYLES */

.border-bottom-black {
  border-bottom: 0.5px solid black;
}

.border-right-black {
  border-right: 0.5px solid black;
}

.container-fluid {
  text-align: center;
  width: 100vw;
  height: 100vh;
  height: 100svh;
}

.row {
  height: 16.67%;
}

.no-pad {
  padding: 0;
}

.btn {
  font-size: 1.75rem;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

/* SPECIFIC/ID STYLES */

#display-row {
  background-color: #212529;
  text-align: right;
  padding-right: 2rem;
}

#display {
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 5rem;
  padding-bottom: 0;
  color: white;
}

/* SCREEN-RESPONSIVE STYLES */

/* Touch-screen with default dark mode */
@media (pointer: coarse) {
  .btn-dark:hover {
    background-color: #212529;
    border-color: #212529;
  }
  .btn-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-primary:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .btn-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

/* Touch screen with light mode */
@media (pointer: coarse) and (prefers-color-scheme: light) {
  #root {
    background-color: #D1D1D1;
  }
  #display-row {
    background-color: white;
  }
  #display {
    color: black;
  }
  .btn-dark {
    background-color: white;
    color: black;
    border-color: white;
  }
  .btn-dark:hover {
    background-color: white;
    color: black;
    border-color: white;
  }
  .btn-dark:active {
    background-color: #EDEDED !important;
    color: black !important;
    border-color: #EDEDED !important;
  }
  .btn-primary:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .btn-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

/* Desktop with light mode */
@media (pointer: fine) and (prefers-color-scheme: light) {
  #root {
    background-color: #D1D1D1;
  }
  #display-row {
    background-color: white;
  }
  #display {
    color: black;
  }
  .btn-dark {
    background-color: white;
    color: black;
    border-color: white;
  }
  .btn-dark:hover {
    background-color: #EDEDED !important;
    color: black !important;
    border-color: #EDEDED !important;
  }
  .btn-dark:active {
    background-color: #EDEDED !important;
    color: black !important;
    border-color: #EDEDED !important;
  }
}

@media (min-width: 640px) {
  .container-fluid {
    width: 480px;
    height: 600px;
  }
  .container-fluid {
    border-radius: 2rem;
  }
  #display-row {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  #zero {
    border-bottom-left-radius: 2rem;
  }
  #equals {
    border-bottom-right-radius: 2rem;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    width: 560px;
    height: 700px;
  }
}